.android {
    color: #3DDC84;
  }

.android_studio {
    color: #4694e8;
  }

.rocket {
    color: #e6a346;
  }

.sap {
    color: #006BB8;
  }
.eon {
    color: #EA1C0A;
  }

.osram {
    color: #f0461c;
  }

.westwing {
    color: #9ac4b7;
  }